<div class="footer border-top p-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2 text-center mb-3 mb-md-0">
                <div class="lead">
                    <i class="fa-solid fa-store text-secondary display-6"></i>
                </div>
                <div class="text-muted">
                    Store App
                </div>
            </div>
            <div class="col-md-8 text-center mb-3 mb-md-0">
                <div class="text-muted my-3">
                    <p>Website created as part of BTK Akademi ASP.NET Core MVC course by <a href="https://github.com/zcomert" target="_blank">Doç. Dr. Zafer CÖMERT</a>.</p>
                    <p>Additional modifications by <a href="https://github.com/Tirsitt" target="_blank">Tirsit</a>.</p>
                </div>
                <div class="btn-group">
                    <a class="btn btn-secondary">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a class="btn btn-secondary">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a class="btn btn-secondary">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="btn btn-secondary">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a class="btn btn-secondary">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2 d-flex">
                <div products="" number="6"></div>
            </div>
        </div>
    </div>
</div>